<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Para contactar con os autores puedes ir a
  <a href="http://www.railstutorial.org/help">página de ayuda del tutorial de Ruby on Rails</a>.
  Si no, también te dejamos accesible  de
  <a href="admin@railstutorial.org"><em>la dirección de email del autor  </em> del libro</a>.
</p>