<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Consigue ayuda del tutorial de RoR en la
  <a href="http://www.railstutorial.org/help">página de ayuda del tutorial de Rails</a>.
  Para conseguir ayuda de esta aplicación consulta 
  <a href="http://www.railstutorial.org/book"><em>el Tutorial de Ruby on Rails </em></a>.
</p>