<div class="center jumbotron">
  <h1>Bienvenido a Sample App</h1>
  <h2>
    Esta es la página principal para la app de prueba 
    <a href="http://www.railstutorial.org/">tutorial de Ruby on Rails </a>
  </h2>
    <%= link_to "¡Registrate ahora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<%#= image_tag("kitten.jpg", alt: "Kitten") %>

