<footer class="footer">
  <small>
    El <a href="http://www.railstutorial.org/">Tutorial de Ruby on Rails,</a>
    por <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de", about_path %></li>
      <li><%= link_to "Contacto",  contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
    </ul>
  </nav>
</footer>