<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!--Lineas default del rails fuera-->
    <%= render 'layouts/rails_default' %>
    <!--El "Si usa explorer9 o menos fuera del cuac-->
    <%= render 'layouts/shim' %>
  </head>

  <body> 
    <!--El header va fuera-->
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>